<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Home page</title>

</head>
<body>

<p style="color: darkgreen"><b>Go to <a href="/convertedtilesdemo/jsp_with_tiles">JSP welcome page</a>.</b></p>
<p style="color: darkgreen"><b>Go to <a href="/convertedtilesdemo/simple_html">simple HTML welcome page</a>.</b></p>
<p style="color: greenyellow"><b>Go to <a href="/convertedtilesdemo/thymeleaf">ThymeLeaf welcome page</a>.</b></p>

</body>
</html>